services:
  django:
    container_name: django
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./:/usr/src/app
    ports:
      - 8080:8000
    env_file:
      - .env
    depends_on:
      - redis
      - postgres

  worker:
    container_name: worker
    build: .
    command: celery --app=dailymerge worker -l INFO
    volumes:
      - ./:/usr/src/app
    depends_on:
      - redis
      - postgres

  postgres:
    container_name: postgres
    image: postgres:16
    volumes:
      - postgresql-data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5432:5432

  redis:
    container_name: redis
    image: redis:latest

volumes:
  postgresql-data: