services:
  django:
    container_name: django
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./:/usr/src/app
    ports:
      - 8080:8000
    env_file:
      - .env
    depends_on:
      - redis

  worker:
    container_name: worker
    build: .
    command: celery --app=dailymerge worker -l INFO
    volumes:
      - ./:/usr/src/app
    depends_on:
      - redis

  redis:
    container_name: redis
    image: redis:latest
